
<div>
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: gray;
                color: white;
                text-align: center;
            }
        </style>

        <div class="footer mt-5 mb-1 ">
            <footer>&copy; Copyright by SMH</footer>
        </div>
    </div>